.card-img-container {
  overflow: hidden;
  aspect-ratio: 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  object-fit: cover;
  width: 100%;
}

.product-price {
  margin-bottom: 0;
  font-weight: 500;
  font-size: xx-large;
}

.product-seller,
.product-date {
  font-size: smaller;
}

.product-name {
  font-weight: 400;
}