.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.nav-btn {
    display: none;
}

.nav-logo {
    font-weight: 500;
    font-size: large;
}

.menu-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.active {
    color: #4096ff;
    font-weight: 400;
    border-bottom: 3px solid #4096ff;
}

.inactive {
    color: #000;
}

.active:hover {
    color: #91caff;
}

@media (width < 576px) {
    .menu-options {
        display: none;
        top: 0;
        position: absolute;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: #f0f0f0;
        z-index: 100;
    }
    
    .nav-btn {
        display: inline-flex;
        z-index: 110;
    }
}