.profileTitle {
    display: block;
    text-align: right;
    font-weight: 500;
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
    border-right: 1px solid #d9d9d9;
    margin-bottom: 20px;
}

.profile-sidebar a {
    padding: 3px 15px 3px 3px;
}

.profile-sidebar div {
    margin: 0;
}

.activeProfile {
    color: #4096ff;
    font-weight: 400;
    border-right: 3px solid #4096ff;
}

.inactiveProfile {
    color: #000;
}

.activeProfile:hover {
    color: #91caff;
}

@media (width < 768px) {
    .profile-sidebar{
        flex-direction: row;
        border-right: none;
        border-bottom: 1px solid #d9d9d9;
        justify-content: center;
    }

    .activeProfile {
        border-right: none;
        border-bottom: 3px solid #4096ff;
    }
}